.card {
  width: 100%;
  border: 2px solid grey;
  height: 100%;
  margin: 15%;
}

.card_img {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.lower_card_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.like {
  width: 20%;
}

.izbr {
  width: 20%;
}

.raiting {
  width: 20%;
}

.crsl {
  margin-top: 5%;
  width: 7%;
  height: 7%;
}
