.content {
  position: relative;
}
.img1 {
  z-index: -1;
  position: absolute;
  width: 700px;
}
.img2 {
  z-index: -1;
  position: absolute;
  width: 500px;
  height: 500px;
  margin: -24px 50px 200px 635px;
}
/* #formId {
  display: flex;

  margin-top: 100px;

  flex-direction: column;
  width: 400px;
  padding: 15px;
  margin: 5px;
  margin-left: 400px;
} */
#PaymentForm {
  margin-top: 80px;
}
